{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cartify</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
    <link rel="stylesheet" href="{% static 'css/upd_pro.css' %}" />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="Logo" />
      </div>

      <div class="navi">
        <nav class="nav-links">
          <a href="{% url 'manage_products' %}">Manage your products</a>
          <a href="{% url 'add_pro' %}">Add new product</a>
          <a href="{% url 'orders' %}">Manage Orders</a>
          <a href="{% url 'contact' %}">Contact Us</a>
          <a href="{% url 'aboutus' %}">About Us</a>
          <a href="{% url 'vprofile' %}">hi, {{ request.session.uname }}</a>
        </nav>
      </div>
    </header>

    <main class="main-content">
      <center>
        <h1>Product Details</h1>
      </center>
      <div>Welcome, {{ request.session.uname }}.</div>

      <div>
        <form
          id="upt_form"
          action=""
          method="post"
          enctype="multipart/form-data"
        >
          {% csrf_token %}
          <input type="text" name="pro_id" value="{{obj.pid}}" hidden />

          <input
            type="text"
            name="vendor_id"
            value="{{ request.session.uid }}"
            hidden
          />

          <div>
            <label for="pname">Product Name : </label>
            <input
              type="text"
              name="pname"
              id="pname"
              value="{{obj.pname}}"
              readonly
            />
            <input type="button" value="Edit" onclick="chan(this)" />
          </div>

          <br />
          <div id="displayDiv">
            <label
              >Product Type :
              <input
                type="text"
                id="dispType"
                value="{{obj.ptype}}"
                readonly
              /> </label
            ><br />
            <label
              >Product Sub-Type :
              <input
                type="text"
                id="dispSubType"
                value="{{obj.pstype}}"
                readonly
              />
            </label>
          </div>

          <div id="editDiv">
            <label for="type">Product Type : </label>
            <select name="type" id="type" required>
              <option value="">please select</option>
              {% for i in cat %}
              <option value="{{i}}">{{i}}</option>
              {% endfor %}
            </select>
            <div id="subtype">
              <label for="stype">Sub-type : </label>
              <select name="stype" id="stype">
                <option value="">please select</option>
                {% for i in obj1 %} {% for j in i.stypes %}
                <option class="{{i.type}}" value="{{j}}">{{j}}</option>
                {% endfor %} {% endfor %}
              </select>
            </div>
            <div id="o_pty">
              <label for="o_stype">Product Type : </label>
              <input
                type="text"
                name="o_stype"
                id="o_stype"
                placeholder="Please Specify type of the product"
              />
            </div>
            <p id="msg2"></p>
          </div>

          <input type="button" id="editBtn" value="Edit" />

          <div>
            <label for="price">Price : </label>
            <input
              type="number"
              name="price"
              id="price"
              value="{{obj.price}}"
              readonly
            />
            <input type="button" value="Edit" onclick="chan(this)" />
          </div>
          <br />

          <div>
            <label for="stock">Stock : </label>
            <input
              type="number"
              name="stock"
              id="stock"
              value="{{obj.stock}}"
              readonly
            />
            <input type="button" value="Edit" onclick="chan(this)" />
          </div>
          <br />
          <label for="specs"
            >Configuration / Specifications / Features :
          </label>
          <input type="text" id="specs" name="specs" hidden />
          <div id="config">
            <input id="spec_fea" type="text" placeholder="Enter the Feature" />
            :
            <input type="text" id="spec_val" placeholder="Enter the Value" />
            <input
              type="button"
              onclick="add_spec()"
              value="Add this Specification"
            />
            <p id="spec_err"></p>
            <ul id="spec_lists"></ul>
          </div>
          <br />

          <div>
            <label for="descp">Description : </label>
            <br />
            <textarea
              name="descp"
              id="descp"
              cols="30"
              rows="10"
              placeholder="please enter the product description"
              readonly
            >{{obj.pdesc}}</textarea
            >
            <input type="button" value="Edit" onclick="fun(this, 'descp')" />
          </div>

          <br />
          <label for="keyp">Key Points : </label>
          <input type="text" name="keyp" id="keyp" hidden />
          <div id="key_po">
            <input
              type="text"
              id="key_point"
              placeholder="please enter key point"
            />
            <input
              type="button"
              id="ad_key_po"
              onclick="add_key()"
              value="Add a key Point"
            />
            <p id="err"></p>
            <ul id="key_points"></ul>
          </div>
          <br />
          <hr />
          <p id="msg1"></p>
          <input type="submit" id="sub_up" value="Update" />
          <input type="reset" value="Clear" />
        </form>
      </div>
    </main>

    <footer class="footer">
      <div class="i1">
        <p>&copy; 2025 Ecommerce. All rights reserved.</p>
      </div>

      <div class="social-links">
        <a href="https://github.com/" target="_blank">
          <i class="fab fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
      {{ obj.specs|json_script:"sp_json" }}
      {{ obj.key_pnt|json_script:"ke_json" }}
    <script src="{% static 'js/update_pro.js' %}"></script>
  </body>
</html>
