{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cartify</title>
    <link rel="stylesheet" href="{% static 'css/prod.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
    />
  </head>
  <body>
    <header class="header">
      <div class="logo">
        <img src="{% static 'images/logo.png' %}" alt="Logo" />
      </div>

      <div class="navi">
        <nav class="nav-links">
          <a href="{% url 'home' %}">Home</a>
          <a href="{% url 'login' %}">Login</a>
          <a href="{% url 'contact' %}">Contact Us</a>
          <a href="{% url 'aboutus' %}">About Us</a>
        </nav>
      </div>
    </header>

    <main class="main-content">
      <center>
        <h1>Product details</h1>
      </center>

      <div class="product-card">
        <h2 class="product-title">{{ obj.pname }}</h2>

        <div class="product-container">
          <div class="product-image">
            <img src="{{ obj.photo.url }}" alt="{{ obj.pname }}" />

            <div class="product-actions">
              <button
                type="button"
                class="btn btn-cart"
                data-id="{{ obj.pid }}"
              >
                Add to Cart
              </button>
              <button type="button" class="btn btn-buy" data-id="{{ obj.pid }}">
                Buy Now
              </button>
            </div>
          </div>

          <div class="product-details">
            <p><strong>Name:</strong> {{ obj.pname }}</p>
            <p><strong>Price:</strong> ₹{{ obj.price }}</p>

            <h3>Specifications:</h3>
            <ul class="spec-list">
              {% for key, value in obj.specs.items %}
              <li><strong>{{ key }}:</strong> {{ value }}</li>
              {% endfor %}
            </ul>

            <h3>Description:</h3>
            <p class="description">{{ obj.pdesc }}</p>

            <h3>Key Points:</h3>
            <ul class="key-points">
              {% for point in obj.key_pnt %}
              <li>{{ point }}</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </main>

    <footer class="footer">
      <div class="i1">
        <p>&copy; 2025 Ecommerce. All rights reserved.</p>
      </div>

      <div class="social-links">
        <a href="https://github.com/" target="_blank">
          <i class="fab fa-github"></i>
        </a>

        <a href="https://www.linkedin.com/" target="_blank">
          <i class="fab fa-linkedin"></i>
        </a>
      </div>
    </footer>

    <script src="{% static 'js/add_to_cart.js' %}"></script>
  </body>
</html>
